<div>
    <h2 id="page-heading">
        <span jhiTranslate="jobMatApp.candidate.home.title">Candidates</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-candidate" [routerLink]="['/candidate/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jobMatApp.candidate.home.createLabel">
            Create a new Candidate
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="candidates?.length === 0">
        <span jhiTranslate="jobMatApp.candidate.home.notFound">No candidates found</span>
    </div>
    <div class="table-responsive" *ngIf="candidates?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="firstName"><span jhiTranslate="jobMatApp.candidate.firstName">First Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastName"><span jhiTranslate="jobMatApp.candidate.lastName">Last Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span jhiTranslate="jobMatApp.candidate.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="phoneNumber"><span jhiTranslate="jobMatApp.candidate.phoneNumber">Phone Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cV"><span jhiTranslate="jobMatApp.candidate.cV">C V</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mentions"><span jhiTranslate="jobMatApp.candidate.mentions">Mentions</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="expectedSalaryEur"><span jhiTranslate="jobMatApp.candidate.expectedSalaryEur">Expected Salary Eur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="company.name"><span jhiTranslate="jobMatApp.candidate.company">Company</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let candidate of candidates ;trackBy: trackId">
                <td><a [routerLink]="['/candidate', candidate.id, 'view' ]">{{candidate.id}}</a></td>
                <td>{{candidate.firstName}}</td>
                <td>{{candidate.lastName}}</td>
                <td>{{candidate.email}}</td>
                <td>{{candidate.phoneNumber}}</td>
                <td>
                    <a *ngIf="candidate.cV" (click)="openFile(candidate.cVContentType, candidate.cV)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="candidate.cV">{{candidate.cVContentType}}, {{byteSize(candidate.cV)}}</span>
                </td>
                <td>{{candidate.mentions}}</td>
                <td>{{candidate.expectedSalaryEur}}</td>
                <td>
                    <div *ngIf="candidate.company">
                        <a [routerLink]="['/company', candidate.company?.id, 'view' ]" >{{candidate.company?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/candidate', candidate.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/candidate', candidate.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/candidate', { outlets: { popup: candidate.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="candidates?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
