<div>
    <h2 id="page-heading">
        <span jhiTranslate="jobMatApp.recruitmentStep.home.title">Recruitment Steps</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-recruitment-step" [routerLink]="['/recruitment-step/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jobMatApp.recruitmentStep.home.createLabel">
            Create a new Recruitment Step
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="recruitmentSteps?.length === 0">
        <span jhiTranslate="jobMatApp.recruitmentStep.home.notFound">No recruitmentSteps found</span>
    </div>
    <div class="table-responsive" *ngIf="recruitmentSteps?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="jobMatApp.recruitmentStep.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sequence"><span jhiTranslate="jobMatApp.recruitmentStep.sequence">Sequence</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="opening.title"><span jhiTranslate="jobMatApp.recruitmentStep.opening">Opening</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let recruitmentStep of recruitmentSteps ;trackBy: trackId">
                <td><a [routerLink]="['/recruitment-step', recruitmentStep.id, 'view' ]">{{recruitmentStep.id}}</a></td>
                <td>{{recruitmentStep.description}}</td>
                <td>{{recruitmentStep.sequence}}</td>
                <td>
                    <div *ngIf="recruitmentStep.opening">
                        <a [routerLink]="['/opening', recruitmentStep.opening?.id, 'view' ]" >{{recruitmentStep.opening?.title}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/recruitment-step', recruitmentStep.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/recruitment-step', recruitmentStep.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/recruitment-step', { outlets: { popup: recruitmentStep.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="recruitmentSteps?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
