<div>
    <h2 id="page-heading">
        <span jhiTranslate="jobMatApp.collaboration.home.title">Collaborations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-collaboration" [routerLink]="['/collaboration/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jobMatApp.collaboration.home.createLabel">
            Create a new Collaboration
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="collaborations?.length === 0">
        <span jhiTranslate="jobMatApp.collaboration.home.notFound">No collaborations found</span>
    </div>
    <div class="table-responsive" *ngIf="collaborations?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="jobMatApp.collaboration.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="initiator"><span jhiTranslate="jobMatApp.collaboration.initiator">Initiator</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="invitationsNo"><span jhiTranslate="jobMatApp.collaboration.invitationsNo">Invitations No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="message"><span jhiTranslate="jobMatApp.collaboration.message">Message</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contract"><span jhiTranslate="jobMatApp.collaboration.contract">Contract</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplier.name"><span jhiTranslate="jobMatApp.collaboration.supplier">Supplier</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="customer.name"><span jhiTranslate="jobMatApp.collaboration.customer">Customer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let collaboration of collaborations ;trackBy: trackId">
                <td><a [routerLink]="['/collaboration', collaboration.id, 'view' ]">{{collaboration.id}}</a></td>
                <td jhiTranslate="{{'jobMatApp.CollaborationStatus.' + collaboration.status}}">{{collaboration.status}}</td>
                <td jhiTranslate="{{'jobMatApp.CompanyType.' + collaboration.initiator}}">{{collaboration.initiator}}</td>
                <td>{{collaboration.invitationsNo}}</td>
                <td>{{collaboration.message}}</td>
                <td>
                    <a *ngIf="collaboration.contract" (click)="openFile(collaboration.contractContentType, collaboration.contract)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="collaboration.contract">{{collaboration.contractContentType}}, {{byteSize(collaboration.contract)}}</span>
                </td>
                <td>
                    <div *ngIf="collaboration.supplier">
                        <a [routerLink]="['/company', collaboration.supplier?.id, 'view' ]" >{{collaboration.supplier?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="collaboration.customer">
                        <a [routerLink]="['/company', collaboration.customer?.id, 'view' ]" >{{collaboration.customer?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/collaboration', collaboration.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/collaboration', collaboration.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/collaboration', { outlets: { popup: collaboration.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="collaborations?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
